# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
.vercel
.netlify

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Strapi
urfadanhaber-backend/.tmp/
urfadanhaber-backend/build/
urfadanhaber-backend/dist/
urfadanhaber-backend/.cache/
urfadanhaber-backend/exports/
urfadanhaber-backend/.strapi-updater.json
urfadanhaber-backend/.strapi/
urfadanhaber-backend/database/*.db
urfadanhaber-backend/database/*.db-shm
urfadanhaber-backend/database/*.db-wal
urfadanhaber-backend/public/uploads/*
!urfadanhaber-backend/public/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
